@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  overflow-y: auto;
}

.sidebar {
  width: 320px;
  height: 100%;
  background-color: #FFFFFF;
  overflow-y: auto;
}

.sidebar--shadow-box {
  box-shadow:  16px 0 52px 0 rgba(14, 24, 80, 0.2),-2px 0 4px 0 rgba(69, 79, 126, 0.02);
}

.sidebar--position-fixed {
  position: fixed;
  left:0;
  top:0;
}

.sidebar--flex {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.sidebar__header {
  padding: 1.5em;
}

.sidebar__img-link--block {
  display: block;
}

.sidebar__header--flex {
  display: flex;
  justify-content: space-around;
  gap:1em;
  align-items: center;
}

.sidebar__img-link--flex-gorw-3:nth-child(2) {
  flex-grow:3;
}

.sidebar__img {
  transition: filter 0.5s ease-in-out;
}

.sidebar__img:hover {
  filter: opacity(50%);
}

.sidebar__btn {
  width: 100%;
  text-decoration: none;
  color:black;
  padding-left: 2.1em;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2em;
  position: relative;
  transition: opacity 0.5s ease-in-out;
}

.sidebar__btn:hover {
  opacity: 0.5;
}

.sidebar__btn--block {
  display: block;
}

.sidebar__vertical-line{
  vertical-align: middle;
  position: absolute;
  left: 0;
  border-right: 4px solid #41f6d7;
  height: 32px;
  border-radius: 0 50% 50% 0;

}

.sidebar__btn--active {
  color: #7E7E82;
}

.sidebar__menu--flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.sidebar__footer {
  padding-left: 2.1em;
  margin-top: 7em;
}

.sidebar__icons-link--block{
  display: block;
}

.sidebar__icons--flex {
  display: flex;
  gap:0.5em;
}

.sidebar__icons img {
  margin-right: 0.5em;
  transition: filter 0.5s ease-in-out;
}

.sidebar__icons img:hover {
  filter: opacity(50%);
}

.sidebar__email {
  font-size: 1rem;
  font-weight: 700;
}

.sidebar__telephone {
  font-size: 1.5rem;
  font-weight: 700;
}

.sidebar__email,
.sidebar__telephone {
  margin:0;
  margin-top: 0.5em;
}

.sidebar__footer--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar__lang {
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.sidebar__link {
  text-decoration:none;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 0.5em;
  transition: opacity 0.5s ease-in-out;
}

.sidebar__link:hover {
  opacity: 0.5;
}

.sidebar__link--active {
  color: #7E7E82;
}


